# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# Node / React
# ========================
node_modules/
Minor_1/node_modules/
Minor_1/frontend/node_modules/
Minor_1/frontend1/node_modules/

# ========================
# Build / Production
# ========================
build/
dist/

# ========================
# Jupyter
# ========================
.ipynb_checkpoints/

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db

# ========================
# Logs
# ========================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# Environment / Secrets
# ========================
.env
.env.*
#token.txt

# ========================
# ML / Model Files
# ========================
*.pkl
Minor_1/ml/models/catboost_info/
Minor_2/catboost_info/

# ========================
# Large Data Files
# ========================
*.csv

# BUT KEEP IMPORTANT DATASETS
!Minor_1/ml/data/daily_data.csv
!Minor_1/ml/data/hourly_data.csv
!Minor_1/ml/data/evaluation_results.csv
!Minor_2/final_dataset.csv

# ========================
# Misc
# ========================
coverage/
.vscode/
venv/
venv310/
